<mat-card class="login-card" >
  <mat-card-header>
    <div mat-card-avatar></div>
    <mat-card-title>LOGIN</mat-card-title>
    <mat-card-subtitle></mat-card-subtitle>
  </mat-card-header>
  <div mat-card-image></div>
  <mat-card-content>
  <form class="loginForm" #loginForm = "ngForm">
    <table class="full-width" cellspacing="0">
      <tr>
        <td>
          <mat-form-field class="full-width" appearance="fill">
            <input matInput type="text" class="form-control" placeholder="Username*" name="txt_username" #userName= "ngModel" ngModel required>
            <mat-error *ngIf="!userName.valid && userName.touched">Username is required</mat-error>
          </mat-form-field>
        </td>
      </tr>
      <tr>
        <td>
          <mat-form-field class="full-width" appearance="fill">
            <input matInput placeholder="Password*" type="password" class="form-control" name="txt_password" #password= "ngModel" ngModel  pattern="/^(?=.*[0-9])(?=.*[!@#$%^&*])[a-zA-Z0-9!@#$%^&*]{6,16}$/" required>
            <mat-error *ngIf=" !password.valid && password.touched ">Password is required</mat-error>
          </mat-form-field>
        </td>
      </tr>
    </table>
  </form>
</mat-card-content>
<mat-card-actions>
  <button mat-raised-button color="primary">Login</button>
  <button mat-raised-button color="warn">Reset</button>
</mat-card-actions>
</mat-card>
